<div class="forecasts">
  <label>
    <span>Your city name and country</span>
    <Input @value={{this.query}} class="light" placeholder="London, UK" />
  </label>

  <ul class="results">
    <Forecasts::Filter @forecasts={{@forecasts}} @query={{this.query}} as |results|>
      {{#if results}}
        <h3 class="subtitle">Showing results for {{results.city.name}}, {{results.city.country}}</h3>
        {{#each results.list as |forecastDay|}}
          <li><Forecast @forecast={{forecastDay}} @code={{results.cod}} /></li>
        {{/each}}
      {{else}}
        {{#if this.query}}
          <div class="center">Loading, wait</div>
        {{/if}}
      {{/if}}
    </Forecasts::Filter>
  </ul>
</div>
