
<article class="forecast-details">
    <h2>Weather in {{@forecast.city.name}}, {{@forecast.city.country}} </h2>     <p></p>
    <p>
      {{format-date @forecast.list.firstObject.dt "DD/MM/YYYY"}} - 
      {{@forecast.list.firstObject.weather.firstObject.description}}        
    </p>
    <p>
      <img src="http://openweathermap.org/img/w/{{@forecast.list.firstObject.weather.firstObject.icon}}.png" alt="" align="center">
      {{convert-celsius @forecast.list.firstObject.main.temp}} °C
    </p>

    {{#each @forecast.list as |forecastDay|}}
      
        <table class="table">
          <tbody>
          <tr>
              <td>Hour</td>
              <td>{{format-date forecastDay.dt "HH:mm"}}</td>
            </tr>            
            <tr>
              <td>Weather</td>
              <td>{{convert-celsius forecastDay.weather.firstObject.main}} °C </td>
            </tr>
            <tr>
              <td>Clouds</td>
              <td>{{forecastDay.clouds}}</td>
            </tr>
            <tr>
              <td>Wind</td>
              <td>{{forecast.wind}} </td>
            </tr>
          </tbody>
        </table>
    {{/each}}

   

    <button class="btn" onclick="window.history.back();">Go back</button>
    
</article> 
